# python venv
venv/

# place to store xml files
rss_feed/

# secret file
config.py

# record latest checking time
record.txt

# ignore .pyc files
*.pyc

# ignore cron, toot.sh for having absolute path to project folder
cron
toot.sh

